@import url('https://fonts.googleapis.com/css?family=EB+Garamond');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Gentium+Book+Basic');




p {
  font-family: 'EB+Garamond', serif;
  font-size: 11pt;
}

li {
  font-family: 'EB+Garamond', serif;
  font-size: 11pt;
}


h1, h2, h3, h4, h5, h6 {
  font-family: 'Open+Sans', sans-serif;
  color: #0A2933;
}


.book .book-body .page-wrapper .page-inner section.normal a:link {
  color: #D53E4F;
  text-decoration: underline;
}

.book .book-body .page-wrapper .page-inner section.normal a:visited {
  color: #FF2600;
}

.book .book-body .page-wrapper .page-inner section.normal a:active {
  color: #FF2600;
}

.book .book-body .page-wrapper .page-inner section.normal a:hover {
  color: #FF2600;
}



.book .book-body .page-wrapper .page-inner section.normal hr {
    overflow: visible; /* For IE */
    padding: 0;
    height: 3px;
    background-color: #FFA319;
    margin: auto;
}




.caption {
  color: #777;
  margin-top: 10px;
}

p code {
  white-space: inherit;
}

pre {
  word-break: normal;
  word-wrap: normal;
}

pre code {
  white-space: inherit;
}


